
<% content_for :main do %>

        <header class="wrapper text-center">
          <strong>Sign in to get in touch</strong>
        </header>
  <div id="login" class="static_content box">
    <%= render :partial => 'login' %>
  </div>

<% end %>

<%# content_for :right do %>
  <%#= render :partial => 'users/join' unless params[:already_joined] %>
<% #end %>